@font-face {
    font-family: 'Segoe Fluent Icons';
    src: url('public/fonts/SegoeFluentIcons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('public/fonts/OpenSans-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('public/fonts/OpenSans-Italic-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}
