@if (state.connected()) {
    <div class="statusbar">
        <div class="left">
            @if (recordInfo()) {
                <span class="record-count">{{ recordInfo() }}</span>
            }
            @if (tableSizeInfo()) {
                <span class="table-size">{{ tableSizeInfo() }}</span>
            }
            @if (selectionInfo()) {
                <span class="selection-info">{{ selectionInfo() }}</span>
            }
        </div>

        @if (transaction.open()) {
            <div
                class="item transaction"
                role="button"
                (click)="openSessionDiff()"
                [tooltip]="i18n.t('transaction.viewDiff')"
            >
                ● {{ i18n.t("statusbar.transactionPending", { count: transaction.pending().count }) }}
            </div>
        }

        <div class="spacer"></div>

        <div class="right">
            @if (!state.capabilities() || state.capabilities()?.sqlQueries) {
                <div
                    class="item clickable"
                    role="button"
                    [class.active]="isInSqlEditor()"
                    (click)="toggleSqlEditor()"
                    [tooltip]="isInSqlEditor() ? i18n.t('statusbar.sqlEditorClose') : i18n.t('statusbar.sqlEditorOpen')"
                >
                    {{ i18n.t("statusbar.sqlEditor") }}
                </div>
            }

            <div
                class="item clickable edit-mode"
                role="button"
                [class.editing]="!readOnly()"
                [class.locked]="state.isShareReadOnly()"
                (click)="toggleReadOnly()"
                [tooltip]="readOnly() ? i18n.t('table.switchToEdit') : i18n.t('table.switchToReadOnly')"
            >
                <span class="dot">●</span>{{ readOnly() ? i18n.t("statusbar.readOnly") : i18n.t("statusbar.readWrite") }}
            </div>

            <div class="item database-type">
                @if (driverMonogram()) {
                    <span class="monogram">{{ driverMonogram() }}</span>
                }
                {{ state.driverDisplayName() ?? i18n.t("statusbar.dbType") }}
            </div>
        </div>
    </div>
}
