@let ready = isReady();

<app-titlebar></app-titlebar>

<section>
    <app-sidebar></app-sidebar>

    @if(ready) {
        <main class="main">
            <app-tabs-bar></app-tabs-bar>
            <router-outlet/>
        </main>
    }
</section>

<app-statusbar></app-statusbar>

@if(!ready) {
    <app-loading-screen [showContent]="!isReloading"></app-loading-screen>
}

<app-theme-picker></app-theme-picker>
<app-entity-search></app-entity-search>
<app-recent-databases></app-recent-databases>
<app-password-prompt></app-password-prompt>

