@use 'src/theme/mixins.scss' as *;

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

app-titlebar {
    flex-shrink: 0;
    width: 100%;
    height: var(--titlebar-height);
    z-index: 99999;
}

section {
    @include flex($hor: stretch, $ver: stretch, $gap: 0px);

    background: var(--surface);
    width: 100%;
    flex: 1;
    min-height: 0;
}

main {
    position: relative;
    margin: 0;
    overflow: auto;
    height: 100%;
    flex: 1;
    isolation: isolate;
    background: var(--background-color);
}

app-statusbar {
    flex-shrink: 0;
    width: 100%;
}
